/*
filename: Hy Gia Nguyen
author: Hy Gia Nguyen
created: 29/03/2020
last modified: 30/03/2020
description: css file for lab4task2.html
*/
body{
	font-family: arial;
}

article{
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

header{
	background-image: url("images/background.png");
	background-repeat: repeat-x;
	background-size: contain;
	height: 158px;
	width: 100%;
}

header h1{
	font-family: "Love Ya Like A Sister", arial;
	font-size: 5em;
	margin: auto;
	letter-spacing: 4px;
	padding-top: .5em;
	padding-left: .5em;
}

nav ul{
	padding: 0;
	margin: 0;
}

nav ul li{
	list-style: none;
	float: left;
	font-size: 93%;
}

nav ul li a{
	display: block;
	font-weight: bold;
	padding: .625em 3.5em;
	text-decoration: none;
	color: #000;
	border-right: 1px solid #bababa
}

img{
	max-width: 100%;
}

#section1{
	clear: both;
}

section{
	width: 30%;
	float: left;
	margin: 1em;
	text-align: justify;
}

footer{
	clear: both;
}

footer h3{
	font-family: "Love Ya Like A Sister", arial;
	background-color: lightblue;
	padding: .5em;
}